.portfolio-inner-card {
	position: relative;
	text-decoration: none;
	color: white;
}
.portfolio-inner-card .image {
	width: 285px;
	height: 145px;
}
.portfolio-inner-card .name {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 10;
	margin: 0;
}
